name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*" # ex. v0.1.0 tag

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-upload:
    name: Build and Upload
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --release --locked

      - name: Create Release Archive
        run: |
          # binary
          cd target/release
          tar -czvf ../../udever-linux-x86_64.tar.gz udever
          cd ../..

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: udever-linux-x86_64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
